In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'name': ['Jeff', 'Esha', 'Jia'], 
                   'age': [30, 56, 8],
                   'city': ['New York', 'Atlanta', 'Shanghai']})

In [8]:
df.loc[df.age > 10, 'city'] = 'Tyumen'

In [9]:
df

   name  age      city
0  Jeff   30    Tyumen
1  Esha   56    Tyumen
2   Jia    8  Shanghai

In [11]:
df.loc[df.city.isin(['Tyumen']), 'age'] += 1

In [12]:
df

   name  age      city
0  Jeff   31    Tyumen
1  Esha   57    Tyumen
2   Jia    8  Shanghai

In [18]:
pd.qcut(range(5), 5)

[(-0.001, 0.8], (0.8, 1.6], (1.6, 2.4], (2.4, 3.2], (3.2, 4.0]]
Categories (5, interval[float64, right]): [(-0.001, 0.8] < (0.8, 1.6] < (1.6, 2.4] < (2.4, 3.2] < (3.2, 4.0]]

In [20]:
pd.cut(range(5), 5)

[(-0.004, 0.8], (0.8, 1.6], (1.6, 2.4], (2.4, 3.2], (3.2, 4.0]]
Categories (5, interval[float64, right]): [(-0.004, 0.8] < (0.8, 1.6] < (1.6, 2.4] < (2.4, 3.2] < (3.2, 4.0]]

In [26]:
pd.qcut(df['age'], 100)

0    (30.54, 31.0]
1    (56.48, 57.0]
2    (7.999, 8.46]
Name: age, dtype: category
Categories (100, interval[float64, right]): [(7.999, 8.46] < (8.46, 8.92] < (8.92, 9.38] < (9.38, 9.84] ... (54.92, 55.44] < (55.44, 55.96] < (55.96, 56.48] < (56.48, 57.0]]

In [32]:
df['age_backet'] = pd.cut(df['age'], 10)
df

   name  age      city     age_backet
0  Jeff   31    Tyumen   (27.6, 32.5]
1  Esha   57    Tyumen   (52.1, 57.0]
2   Jia    8  Shanghai  (7.951, 12.9]

In [43]:
pd.qcut(df['age'], 7)

0    (27.714, 34.714]
1      (49.571, 57.0]
2     (7.999, 14.571]
Name: age, dtype: category
Categories (7, interval[float64, right]): [(7.999, 14.571] < (14.571, 21.143] < (21.143, 27.714] < (27.714, 34.714] < (34.714, 42.143] < (42.143, 49.571] < (49.571, 57.0]]

In [39]:
labels = ["0-10",
    "11-18",
    "19-30",
    "31-50",
    "51-65",
    "66-80",
    "81-120"
]

In [40]:
labels

['0-10', '11-18', '19-30', '31-50', '51-65', '66-80', '81-120']

In [45]:
pd.cut(df['age'], 7, labels=labels)

0     31-50
1    81-120
2      0-10
Name: age, dtype: category
Categories (7, object): ['0-10' < '11-18' < '19-30' < '31-50' < '51-65' < '66-80' < '81-120']

In [46]:
pd.cut(range(121), 7)
pd.qcut(range(121), 7)

[(-0.001, 17.143], (-0.001, 17.143], (-0.001, 17.143], (-0.001, 17.143], (-0.001, 17.143], ..., (102.857, 120.0], (102.857, 120.0], (102.857, 120.0], (102.857, 120.0], (102.857, 120.0]]
Length: 121
Categories (7, interval[float64, right]): [(-0.001, 17.143] < (17.143, 34.286] < (34.286, 51.429] < (51.429, 68.571] < (68.571, 85.714] < (85.714, 102.857] < (102.857, 120.0]]

In [66]:
df['name'].map(11)

TypeError: 'int' object is not callable