In [1]:
import pandas as pd

In [4]:
booking = pd.read_csv('../data_sets/bookings.csv', sep=';')

In [5]:
booking.head()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [12]:
booking.columns.str.lower().str.replace(' ', '_')

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [19]:
booking.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,stays_total_nights,adults,children,babies
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,3.427900,1.856403,0.103890,0.007949
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,2.557439,0.579261,0.398561,0.097436
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,2.000000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,3.000000,2.000000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,4.000000,2.000000,0.000000,0.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,69.000000,55.000000,10.000000,10.000000

In [26]:
booking.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [40]:
# Выбираем топ 5 стран по успешному бронированию
booking[booking['is_canceled'] == 1].country.value_counts().head(5)

PRT    27519
GBR     2453
ESP     2177
FRA     1934
ITA     1333
Name: country, dtype: int64

In [49]:
# На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel?
booking[booking['hotel'].isin(['City Hotel'])].stays_total_nights.mean().round(2)

2.98

In [50]:
booking[booking['hotel'].isin(['Resort Hotel'])].stays_total_nights.mean().round(2)

4.32

In [52]:
# Изначально забронированная комната не та же, где проживали гости
booking[booking.assigned_room_type != booking.reserved_room_type].count()

hotel                        14917
is_canceled                  14917
lead_time                    14917
arrival_full_date            14917
arrival_date_year            14917
arrival_date_month           14917
arrival_date_week_number     14917
arrival_date_day_of_month    14917
stays_in_weekend_nights      14917
stays_in_week_nights         14917
stays_total_nights           14917
adults                       14917
children                     14917
babies                       14917
meal                         14917
country                      14699
reserved_room_type           14917
assigned_room_type           14917
customer_type                14917
reservation_status           14917
reservation_status_date      14917
dtype: int64

In [92]:
# На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017 году?
books_2016 = booking[booking.arrival_date_year == 2016].groupby(['arrival_date_month'], as_index=False).size()

In [72]:
booking[booking.arrival_date_year == 2017].groupby(['arrival_date_month'], as_index=False).size().max()

arrival_date_month     May
size                  6313
dtype: object

In [99]:
books_2017 = booking[booking.arrival_date_year == 2017].groupby(['arrival_date_month'], as_index=False).size()

In [102]:
books_2017[books_2017['size'] == books_2017['size'].max()]

  arrival_date_month  size
7                May  6313

In [103]:
books_2016[books_2016['size'] == books_2016['size'].max()]

   arrival_date_month  size
10            October  6203

In [218]:
# Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City
# Hotel отменялись чаще всего в 2015? 2016? 2017?

booking\
    .query("is_canceled == 1 & hotel== 'City Hotel'  & arrival_date_year == 2016")\
    .groupby(['arrival_date_year', 'arrival_date_month'], as_index=False)\
    .size()

    arrival_date_year arrival_date_month  size
0                2016              April  1539
1                2016             August  1247
2                2016           December  1072
3                2016           February   930
4                2016            January   438
5                2016               July  1043
6                2016               June  1720
7                2016              March  1108
8                2016                May  1436
9                2016           November  1360
10               2016            October  1947
11               2016          September  1567

In [221]:
# Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?
booking.adults.mean(), booking.children.mean(), booking.babies.mean()

(1.8564033838679956, 0.10388990333874994, 0.007948739425412514)

In [222]:
#Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?
booking['total_kids'] = booking.children + booking.babies

In [233]:
booking\
    .groupby(['hotel'])\
    .aggregate({'total_kids': 'mean'}).round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

In [234]:
#Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate.

#Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

#В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!

#Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше.

#В качестве ответа укажите наибольший %, округленный до 2 знаков после точки (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)

In [309]:
with_kids = booking[booking.total_kids > 0]

In [310]:
without_kids = booking[booking.total_kids < 1]

In [311]:
with_kids.shape, without_kids.shape

((9332, 22), (110058, 22))

In [313]:
with_kids\
    .groupby(['is_canceled'])\
    .count()

,hotel,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,stays_total_nights,...,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids
is_canceled,,,,,,,,,,,,,,,,,,,,,
0,6073,6073,6073,6073,6073,6073,6073,6073,6073,6073,...,6073,6073,6073,6059,6073,6073,6073,6073,6073,6073
1,3259,3259,3259,3259,3259,3259,3259,3259,3259,3259,...,3259,3259,3259,3259,3259,3259,3259,3259,3259,3259

In [314]:
without_kids\
    .groupby(['is_canceled'])\
    .count()

,hotel,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,stays_total_nights,...,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids
is_canceled,,,,,,,,,,,,,,,,,,,,,
0,69093,69093,69093,69093,69093,69093,69093,69093,69093,69093,...,69093,69093,69093,68686,69093,69093,69093,69093,69093,69093
1,40965,40965,40965,40965,40965,40965,40965,40965,40965,40965,...,40961,40965,40965,40898,40965,40965,40965,40965,40965,40965

In [331]:
with_kids[with_kids.is_canceled == 1].is_canceled.count(), with_kids.is_canceled.count()

(3259, 9332)

In [332]:
without_kids[without_kids.is_canceled == 1].is_canceled.count(), without_kids.is_canceled.count()

(40965, 110058)

In [333]:
(3259 / 9332), (40965 / 110058)

(0.3492284612087441, 0.37221283323338605)