In [2]:
import pandas as pd
from io import StringIO

In [3]:
csv_string = '''stud_id; Subject; grade
1;ТВиМС;60
2;МОР;70
3;ТВиМС;80
4;МОР;85
5;ТВиМС;100'''

In [4]:
csv_string_IO = StringIO(csv_string)

In [5]:
df = pd.read_csv(csv_string_IO, sep=";")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   stud_id   5 non-null      int64
 1    Subject  5 non-null      object
 2    grade    5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

In [7]:
df.describe()

        stud_id       grade
count  5.000000    5.000000
mean   3.000000   79.000000
std    1.581139   15.165751
min    1.000000   60.000000
25%    2.000000   70.000000
50%    3.000000   80.000000
75%    4.000000   85.000000
max    5.000000  100.000000

In [8]:
df = df.rename(columns={' Subject': 'subject', ' grade': 'grade'})

In [9]:
len(df.subject.unique())

2

In [10]:
df.grade.mean().astype(int)

79

In [11]:
df

   stud_id subject  grade
0        1   ТВиМС     60
1        2     МОР     70
2        3   ТВиМС     80
3        4     МОР     85
4        5   ТВиМС    100

In [12]:
print(*df.subject.tolist())

ТВиМС МОР ТВиМС МОР ТВиМС

In [13]:
num_arr = list(map(lambda x: int(x),'7 11 3 5 10 12 11 9 6 1 8 11 1 4 9'.split(' ')))

In [14]:
med = num_arr[len(num_arr) // 2]

In [15]:
tmp_ser = pd.Series(num_arr)

In [16]:
tmp_ser.median()

8.0

In [17]:
med

9

In [18]:
tmp_ser.sort_values().median()

8.0

In [19]:
lst_x = list(map(int, '2 10 5 4 7 7 1 4 7 8 6 6 6 7 10'.split()))

lst_y = list(map(int, '3 4 7 11 2 11 11 8 8 1 2 2 8 5 9'.split()))

x = pd.Series(lst_x)

y = pd.Series(lst_y)

In [20]:
x = x.sort_values()
y = y.sort_values()

In [38]:
x.mean(), y.mean(), (x * y).sum() / len(x), (x * y).mean()

(6.0, 6.133333333333334, 34.666666666666664, 34.666666666666664)

In [36]:
# ковариация по формуле и через pandas
(x * y).mean() - (x.mean() * y.mean()), x.cov(y), y.cov(x)

(-2.13333333333334, -2.2857142857142856, -2.2857142857142856)