In [8]:
import pandas as pd
import

In [13]:
!ls ../data_sets

2_taxi_nyc.csv	Diamond.csv	       sleep75.csv
bookings.csv	lesson_3_data__1_.csv  titanic.csv
companies.csv	logs.csv	       user_data.csv

In [15]:
dimonds = pd.read_csv('../data_sets/Diamond.csv')

In [16]:
dimonds

     carat colour clarity certification  price
0     0.30      D     VS2           GIA   1302
1     0.30      E     VS1           GIA   1510
2     0.30      G    VVS1           GIA   1510
3     0.30      G     VS1           GIA   1260
4     0.31      D     VS1           GIA   1641
..     ...    ...     ...           ...    ...
303   1.01      I     VS1           HRD   8175
304   1.02      F    VVS2           HRD  10796
305   1.06      H    VVS2           HRD   9890
306   1.02      H     VS2           HRD   8959
307   1.09      I    VVS2           HRD   9107

[308 rows x 5 columns]

In [19]:
dimonds.price.mean().round(2)

5019.48

In [21]:
dimonds.carat.median().round(2)

0.62

In [25]:
dimonds.corr()

/tmp/ipykernel_36338/459835136.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  dimonds.corr()

          carat     price
carat  1.000000  0.944727
price  0.944727  1.000000